<html>
    <head>

    </head>
    <body>
        <form method="POST" action="send">
            <p>
                <label >name</label>
                <input type="text" name="name">
            </p>

            <p>
                <label >company</label>
                <input type="text" name="company">
            </p>
            <p>
                <label >email address</label>
                <input type="text" name="email">
            </p>
            <p>
                <label >phone number</label>
                <input type="text" name="phone">
            </p>
            <p class="full">
                <label >message</label>
                <inputname="message" rows="5">
            </p>
            
        </form>
        <script src="email.js"></script>
        
    </body>
</html>